*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: Veda
}

@font-face {  /*define the font*/
  font-family: 'Veda';
  font-style: normal;
  src: url(fonts/veda.ttf);
}
.mainbg{ /*main background (thrones data/gn-drive tau/exia*/
  animation: animatemainbg 9s ease-in-out infinite normal;
  background-size: cover;  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0.3; /*0.0 to 1.0, more less opaque*/
  position: fixed;
  width: 100%;
  z-index: -1; /*"beneath" other content*/
}

@keyframes animatemainbg{
  0%{
      background-image: url('img/Veda\ Background\ 1.jpg'), /*load all images first*/
                        url('img/Veda\ Background\ 2.jpg'), 
                        url('img/Veda\ Background\ 3.jpg');
  }

  50%{
      background-image: url('img/Veda\ Background\ 2.jpg'); /*cycle through*/
  }

  75%{
      background-image: url('img/Veda\ Background\ 3.jpg');
  }

  100%{
      background-image: url('img/Veda\ Background\ 1.jpg');
  }
}

nav{  /*nav bar container*/
  background: rgb(26, 24, 24);
  border-radius: 11px;
  opacity: 1.0; /*0.0 to 1.0, lower=less opaque*/
  letter-spacing: 1px;
  box-shadow: 0 2px 3px 0 rgb(95, 92, 92); /*shadow for individual dropdown boxes*/

}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  color: white;
  font-size: 40px;
  font-weight: 599; /*boldness of text*/
  line-height: 70px;
  padding-left: 50px;
  padding-right: 9%; /*space to the right of the logo*/
}
nav ul{
  float: left;
  list-style: none;
  position: relative;
}
nav ul li{  /*containers for home/series/grade/faqs/contact*/
  float: left; /*order of the buttons below*/
  display: inline-block; /*each item start on new line*/
  background: rgb(26, 24, 24);
  margin: 0 5px; /*space between each container*/
}
nav ul li a{ /*home|series|grade|faqs|contact buttons*/
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-weight: 599;
  font-size: 24px;
  padding: 20px 30px; /*top right down left*/
}

nav ul ul li a:hover{
  box-shadow: none; /*avoid stacking shadows*/
}

nav ul ul{  /*dropdown buttons container*/
  position: absolute;
  top: 90px;
  opacity: 1.0;
  visibility: hidden; /*hidden by default, show on hover*/
}
nav ul li ul li a{ /*dropdown button text*/
  color: black;
  font-size: 24px;
  font-weight: 600;
}
nav ul li:hover > ul{ /*container for dropdown*/
  top: 69px;
  opacity: 1.0;
  visibility: visible; /*show dropdowns on hover here*/
}
nav ul ul li{ /*individual items in dropdown*/
  position: relative;
  margin: 0px;
  width: auto;
  float: none;
  display: list-item;
  border: solid 3px rgb(39, 38, 38);
  border-radius: 11px;
  box-shadow: 0 4px 4px 0 rgb(95, 92, 92); /*shadow for individual dropdown boxes*/
  background-color: white;
}
nav ul ul li a{
  line-height: 50px;
}

nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}

@media screen and (min-width:1300px){ /*only when screen is desktop view*/
  nav ul li:hover{  /*change color of entire button*/
    background-color: rgb(138, 138, 138);
    border-radius: 11px; /*rounded edges of container*/
  }
}

@media all and (min-width: 1170px) and (max-width: 1300px) { /*shrink navbar before switch to mobile view*/
  nav .logo{
    padding-right: 30px; /*space to the right of the logo*/
  }
  nav ul li:hover{  /*highlight on hover*/
    background-color: rgb(138, 138, 138);
    border-radius: 11px; /*rounded edges of container*/
  }
}

@media all and (max-width: 1170px) {  /*mobile view*/
  nav ul{
    margin-right: 0px;  /*move navbar buttons to the left*/
    float: left;
  }
  nav .logo{
    padding-left: 20px;
    width: 100%;
  }
  .show + a, ul{
    display: none;
  }
  nav ul li{ /*container of all tabs*/
    display: block;
    width: 100%;
  }
  nav ul li a{ /*individual tabs*/
    padding: 0 20px;
  }


  nav ul ul li{ /*dropdowns (grade,series,other)*/
    display: block;
    width: 99%;
  }
  nav ul ul li:hover{
    background-color: rgb(138, 138, 138);
    border-radius: 11px;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: white;
    font-size: 24px;
    padding: 0 20px;  /*left/right space of dropdown tabs !added padding from ul li a!*/
    line-height: 70px; /*space between top and bottom of dropdowns*/
    cursor: pointer;
  }
  .show:hover{
    color: white;
  }
  .icon{
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 70px;
    cursor: pointer;
    font-size: 20px;
  }
  nav ul ul{ 
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1.0;
    visibility: visible;
  }
  nav ul ul a{  /*tabs in dropdown container (gundam series/grade)*/
    padding-left: 17px;
    font-size: 24px;
  }

  [id^=btn]:checked + ul{ /*on click, display dropdown tabs */
    display: block;
  }
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{ /*changes bar icon to x icon on click*/
    content: '\f00d';
  }
}
.content{
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}
