body, html{
    font-family: Veda;
    height: 100%;
    margin: 0;
}

@font-face {/*define the font*/
    font-family: 'Veda';
    font-style: normal;
    src: url(fonts/veda.ttf);
    
}

.main{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;
}

.mainbg{ /*main background (thrones data/gn-drive tau/exia*/
    animation: animatemainbg 9s ease-in-out infinite normal;
    background-size: cover;  
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: fixed;
    height: 100vh;
    left: 0;
    opacity: 0.3; /*0.0 to 1.0, more less opaque*/
    position: fixed;
    top: 0;
    width: 100%;
}

@keyframes animatemainbg{
    0%{
        background-image: url('img/Veda\ Background\ 1.jpg'), /*load all images first*/
                          url('img/Veda\ Background\ 2.jpg'), 
                          url('img/Veda\ Background\ 3.jpg');
    }

    50%{
        background-image: url('img/Veda\ Background\ 2.jpg'); /*cycle through*/
    }

    75%{
        background-image: url('img/Veda\ Background\ 3.jpg');
    }

    100%{
        background-image: url('img/Veda\ Background\ 1.jpg');
    }
}



.navigationbar{                                   /*navigation bar start*/
    background-color: rgb(26, 24, 24);
    border: 10px;
    border-radius: 11px; /*curves at the ends of navigation bar*/
    box-shadow: 0 2px 3px 0 rgb(95, 92, 92);
    overflow: visible;  /*allows dropdown to go past navigation bar bottom */
    position: fixed;
    top: 0.5;
    width: 100%;
}

.navigationbar a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 30px;
    font-size: 24px;
    font-weight: 599;  /*boldness of text*/
    letter-spacing: 1px;
    /*border-right: 1px solid rgb(255, 255, 255);*/
    text-decoration: none;
}

.navigationbar a:hover, .dropdown:hover .dropbtn{   /*lightens box color on mouse hover*/
    background-color: rgb(107, 104, 104);
    border-radius: 11px;
}

.navigationbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 24px;
    font-family: Veda;
    text-transform: uppercase;
}

.dropdown{
    float: left; /*floats next to navigation bar buttons*/
    overflow: hidden; 
}

.dropbtn{   /*centers dropdown buttons text before hover*/
    padding: 14px 16px;
    background-color: rgb(26, 24, 24);
    color: #ffffff;
}

.dropdown .dropbtn{
    font-size: 24px;
    font-weight: 599;
    border: none;
    padding: 14x 30px;
    font-family: inherit;
    margin: 0;
    /*border-right: 1px solid rgb(255, 255, 255);*/
    letter-spacing: 1px;
    text-align: center;
}

.dropdown-content{  /*the wrapper*/
    display: none;  /*hide the content by default, only shows on hover*/
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: hidden;
    border-radius: 11px;
    z-index: 1; 
}

.dropdown-content a{    /*the actual buttons in the dropdown*/
    float: none;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 14x 16x;
    text-decoration: none;
    display: block;
    text-align: left;
    border: solid;
    border-radius: 11px; /*curves for dropdown*/
    box-shadow: 0 2px 3px 0 rgb(95, 92, 92); /*shadow for individual dropdown boxes*/

}

.dropdown-content a:hover{  
    background-color: rgb(146, 146, 146);
}

.dropdown:hover .dropdown-content{
    display: block;
}

                                                    /* navigation bar end*/

@media screen and (max-width: 600px){
    .navigationbar a, .navigationbar input[type-text]{
        float: left;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px 10px;
    }

    navigationbar input[type=text]{
        border: 1px solid #ccc;
    }
}
